.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
 
}

.App-header {
  background-color: #0255fb;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
}

.People-container{
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: white;
  padding:30px 5px 20px 5px
}